<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.chen.pojo.Address">
        <property name="address" value="汕头"></property>
    </bean>
    <bean id="student" class="com.chen.pojo.Student">
        <!--第一种：普通值注入，value-->
        <property name="name" value="小陈"></property>

        <!--引用注入-->
        <property name="address" ref="address"/>

        <!--数组-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
            </array>
        </property>

        <!--List-->
        <property name="hobbys">
            <list>
                <value>唱</value>
                <value>跳</value>
                <value>Rap</value>
            </list>
        </property>

        <!--map-->
        <property name="card">
            <map>
                <entry key="银行卡" value="123231312313"/>
                <entry key="身份证" value="456564645645"/>
            </map>
        </property>

        <!--set-->
        <property name="games">
            <set>
                <value>王者农药</value>
                <value>反英雄联盟</value>
                <value>不玩游戏</value>
            </set>
        </property>

        <!--null-->
        <property name="wife">
            <null/>
        </property>

        <!--property-->
        <property name="info">
            <props>
                <prop key="driver">mysql:3306</prop>
                <prop key="url">www.baidu.com</prop>
                <prop key="root">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>


</beans>